
    .test-box {
        border: 2px aqua;
        padding: 10px;
        margin: 200px;
        background-color: lightcyan;
        padding-right:10px;
        margin-top:20px;
        margin-bottom:30px;
      }
form{
    display:inline-block;
}     
#button{
    background-color: #59ace0;
    height:50px;
}
#buty{
    background-color:red;
}
h1{
   text-align: center;
    font-weight:bold;
    color:black;
    padding:20px;
    padding-bottom:1px;
  }
body{
    text-align:center;
    background-color: aqua;
}
P{
    font-weight: bold;
    color:black; 

}