
    .test-box {
        border: 2px solid red;
        padding: 10px;
        margin: 100px;
        background-color: cyan;
      }
form{
    display:inline-block;
}     
#button{
    background-color: #59ace0;
}
#buty{
    background-color:red;
}
h1{
   
    font-weight:bold;
    color:black;
  }
body{
    align:center;
}